{% extends 'base.html' %}
{% load static %}

{% block CSS %}
    <!-- Custom styles for this template -->
    <link href="{% static 'vendor/css/index.css' %}" rel="stylesheet">
{% endblock CSS %}

{% block content %}
    <!-- Page Content -->
    <section>
        <!--    <div class="alert alert-light text-center" role="alert">-->
        <!--        Информационное сообщение-->
        <!--    </div>-->
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="mt-5">PetProject Shop</h1>
                    <p>
                        Настольные игры на любой вкус!
                    </p>
                    <button id="start-purchase-btn" type="button" class="btn btn-lg">
                        <a id="start-purchase-link" href="{% url 'all_products' %}">
                            Начать покупки
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
