<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h4>Категории товаров</h4>
        <div>
            <ul>
                {% for category in categories %}
                    <li>
                        <a href="{% url 'products_by_category' category.slug %}">
                            {{ category.name }}
                        </a>
                    </li>
                {% endfor %} 
                    <li>
                        <a href="{% url 'all_products' %}">
                            Все товары
                        </a>
                    </li>
            </ul>
        </div>
    </div>
    <div>
        <h3>
            {% if category %}Товары категории "{{ category.name }}"
            {% else %} Все товары {% endif %}
        </h3>
        <ul>
            {% for product in page_obj %}
                {{ product.name }}<br>
            {% endfor %}
        </ul>
    </div>
    <div class="pagination">
        {% for page in page_obj.paginator.page_range %}
            {% if page_obj.number == page %}
                <span class="current-page">{{ page }}</span>
            {% else %}
                <a href="?page={{ page }}">{{ page }}</a>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>