{% extends 'base.html' %}
{% load static %}

{% block CSS %}
    <!-- Custom styles for this template -->
    <link href="{% static 'vendor/css/products.css' %}" rel="stylesheet">
{% endblock CSS %}

{% block content %}
    <!-- Page Content -->

    <div class="container">

        <div class="row">

            <div class="col-lg-3">

                <h1 class="my-4">PetProject Shop</h1>
                <div class="list-group">
                    <a href="{% url 'all_products' %}" class="list-group-item">Все товары</a>
                    {% for category in categories %}
                        <a href="{% url 'products_by_category' category.slug %}" class="list-group-item">{{ category.name }}</a>
                    {% endfor %}
                </div>

            </div>

            <div class="col-lg-7 col-md-9 mb-6">
                <div class="card h-100">
                    <img class="card-img-top"
                        src="{{ product.image.url }}"
                        alt="">
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
                        </h4>
                        <h5>{{ product.price }} руб.</h5>
                        <p class="card-text">{{ product.description }}</p>
                    </div>
                    <div class="card-footer text-center">
                        <button type="button" class="btn btn-outline-success">Отправить в корзину</button>
                    </div>
                </div>
            </div>
            
        </div>

    </div>

{% endblock content %}

{% block footer %}
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">PetProject Shop</p>
        </div>
        <!-- /.container -->
    </footer>
{% endblock footer %}